extends ../layouts/default

block main
  h1= title

block content
  .row
    .offset1.span5
      a(href="/auth/singly?service=facebook")
        img(src="/img/facebook.png",width="60")
      a(href="/auth/singly?service=twitter")
        img(src="/img/twitter.png",width="60")
      a(href="/auth/singly?service=google")
        img(src="/img/google.png",width="60")
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      block auth
