!!! transitional
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= "Email Template"
    //- include ./base_html_styles.jade
  body(style='background-color: #f7f7f7; font-family: Arial, Helvetica, sans-serif; font-size: 12px;')
    include ./base_html_mixins.jade
    table(cellspacing='0', cellpadding='0', border='0', width='100%')
        tr
          td(style='background: none repeat scroll 0% 0% #333; color: rgb(255, 255, 255); font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 4px 8px; vertical-align: middle; font-size: 16px; letter-spacing: -0.03em; text-align: left;')
            a(target='_blank', href='http://bilddit.com/', style='color: rgb(255, 255, 255); text-decoration: none;')
              span(style='color: rgb(255, 255, 255);') Bilddit
          td(style='background: none repeat scroll 0% 0% #333; color: rgb(255, 255, 255); font-weight: bold; font-family: Arial, Helvetica, sans-serif; padding: 4px 8px; vertical-align: middle; font-size: 11px; text-align: right;')
        tr
          td(valign='top', style='background-color: rgb(255, 255, 255); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); font-family: Arial,Helvetica,sans-serif; padding: 15px; border-bottom: 1px solid rgb(170, 170, 170);', colspan='2')
            block emailContent
            br
            | Thanks,
            br 
            |The Bilddit Team
        tr
          td(style='color: rgb(153, 153, 153); padding: 10px; font-size: 11px; font-family: Arial, Helvetica, sans-serif;', colspan='2')
            include ./base_html_footer.jade