| The message was sent to 
a(target='_blank', href='mailto:#user.email#', style='color: #2769AB; text-decoration: none; font-weight: normal;') #{user.email}
| .
br
| If you don't want to receive these emails from Bilddit in the future, you can 
a(target='_blank', style='color: #2769AB; text-decoration: none; font-weight: normal;', href='https://bilddit.com/settings/contact') unsubscribe
| .
br
br
font(color='#888888')
  | Bilddit